body {
	width: 100%;
	height: 90vh;
	color: rgb(255, 255, 255);
	background: linear-gradient(-45deg, rgb(37, 34, 33), #E73C7E, rgb(75, 51, 82), rgb(75, 209, 178));
	background-size: 400% 400%;
    animation: Gradient 20s ease infinite;
font-family: Arial, Helvetica, sans-serif;
}
center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Flavors', cursive;
}
html, body {
    height: 80%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    height: 100%;
}

.container {
    margin: auto;
    position:relative;
    /* border: 1px solid red; */
    width: 80%;
    text-align: center;
}

.container > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
	margin: auto;
	transition: all 1s;
	transform-origin: center center;
	cursor: pointer;
}

.container > img:hover {
	transform: rotate(720deg);
	/* transform: rotate3d(1,1,1,360deg); */
}

.container > p {
    text-align: justify;
    font-size: 2em;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.menu li {
	display: inline-block;
	line-height: 35px; /*Superior*/
	list-style: none; /*Decoración */
	margin: 0 5px;
}

.menu li a {
	background-image: -webkit-linear-gradient(
	 	top,
		rgba(255,255,255,.5) 0%,
		rgba(0,0,0,.1) 100%
	);
	/* border: 2px solid gray; */
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.65);
	color: #f4f4f4; /*Internet Explorer*/
	color: rgba(255,255,255, 0.8);
	font: bold 18px "Myriad Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 3px 3px 10px rgba(0,0,0,0.4); 
}

.menu li a:active {
	background-image: -webkit-linear-gradient(
	 	left,
		rgba(255,255,255,.5) 0%,
		rgba(255,255,255,.2) 10%,
		rgba(0,0,0,.2) 85%,
		rgba(0,0,0,.4) 100%
	);
}

.red{
	background: red;
}

.red:hover{
	background: #e40606;
}

.green{
	background: #46c431;
}

.green:hover{
	background: #44e329;
}

.yellow{
	background: #d9ce1c;
}

.yellow:hover{
	background: #eee117;
}

.cyan{
	background: #23c6de;
}

.cyan:hover{
	background: #18d8f4;
}

.blue{
	background: #3271d9;
}

.blue:hover{
	background: #377ef2;
}

#center {
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    margin-top: 80px;
    transition: all 1s;
    transform-origin: center center;
    cursor: pointer;
}

#center:hover {
  transform: rotate(720deg);
}